@model IEnumerable<AmigoDono.Model.PET>

@{
    ViewBag.Title = "Home";
}


<h2 class="text-center">Amigos</h2>

<table class="table table-bordered">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.NomePet)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TipoPet)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.RAÇA.NomeRaça)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Porte)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Castrado)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th class="text-center">
            @Html.DisplayName("Opções")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (item.Imagem != null)
        {
            <td class="text-center">
                @{
                    var base64 = Convert.ToBase64String(item.Imagem);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </td>
        }
        <td class="text">
            @Html.DisplayFor(modelItem => item.NomePet)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.TipoPet)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.RAÇA.NomeRaça)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Porte)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Castrado)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        @*<td class="text-center">
            @Html.DisplayFor(modelItem => item.OBS)
        </td>*@

        <td class="text-center">
            <button class="btn btn-success">Capturar Amigo</button>
        </td>

            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDP }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDP }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDP })
            </td>*@
    </tr>
    }

</table>
