<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ddbb24">
                <img alt="Owner's Friend" class="img-responsive navbar-left" src="~/Content/imagens/Logo2.png" width="72" height="72" title="Owner's Friend">
                <a class="navbar-brand" href="~/Views/Home/Index.cshtml">Owner's Friend</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav nav">
                    <li>
                        @Html.ActionLink("Meus Dados", "teste", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Apoiadores", "Contact", "Home")
                    </li>
                    <li>@Html.ActionLink("Adoção", "Index", "Adocao")</li>
                    <li>@Html.ActionLink("Cuidados", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Denúncias", "Create", "DENUNCIA")</li>
                    <li>@Html.ActionLink("Fale Conosco", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right btn-default" style="margin:0px; border-radius: 5px; margin-right: 5px">
                    <li>@Html.ActionLink("Entrar", "Index", "Login")</li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <footer style="border-top: 1px solid black; clear: both; margin-top: 20px" >
            <p style="text-align: center">&copy; @DateTime.Now.Year -  Owner's Friend</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (ViewBag.Alerta != null)
    {
        <script type="text/javascript">
                bootbox.alert('@ViewBag.Alerta');
        </script>
    }
    @RenderSection("scripts", required: false)


</body>
</html>
