<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/pets.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Mascaras.js"></script>
    <script src="~/Scripts/pets.js"></script>
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #4cc2c4">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ddbb24">
            <img alt="Owner's Friend" class="img-responsive navbar-left" src="~/Content/imagens/Logo2.png" width="72" height="72" title="Owner's Friend">
            @Html.ActionLink("Owner's Friend", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav nav">
                    <li>
                        @Html.ActionLink("Meus Dados", "Signin", "Login")
                    </li>
                    <li>
                        @Html.ActionLink("Apoiadores", "Contact", "Home")
                    </li>
                    <li>@Html.ActionLink("Cuidados", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Denúncias", "Create", "DENUNCIA")</li>
                    <li>@Html.ActionLink("Fale Conosco", "FaleConosco", "Feedback")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right btn-default" style="margin:0px; border-radius: 5px; margin-right: 5px">
                    <li>@Html.ActionLink("Entrar", "Signin", "Login")</li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <footer style="border-top: 1px solid black; clear: both; margin-top: 20px">
            <p style="text-align: center">&copy; @DateTime.Now.Year -  Owner's Friend</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery"))
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)


    @if (ViewBag.Alerta != null)
    {
        <script type="text/javascript">
                bootbox.alert('@ViewBag.Alerta');
        </script>
    }

    <script>
        // Exemplo de JavaScript para desativar o envio do formulário, se tiver algum campo inválido.
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Selecione todos os campos que nós queremos aplicar estilos Bootstrap de validação customizados.
                var forms = document.getElementsByClassName('needs-validation');

                // Faz um loop neles e previne envio
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();</script>


</body>
</html>
