@model AmigoDono.Model.AMIGO

@{
    ViewBag.Title = "Meus Dados";
}

<h2>Detalhes</h2>
<div class="container">
    <div class="py-5 text-center">
        <h2 class="mb-3">Meus Dados</h2>
    </div>
    <div class="col-md-8" style="margin-left: 150px">
        <div class="row">
            <div class="col-md-12 mb-3">
                @Html.LabelFor(model => model.Nome)
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.DataNascimento)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.CPF)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.CNPJ)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                @Html.EditorFor(model => model.CNPJ, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Funcao)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                @Html.EditorFor(model => model.Funcao, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Ajuda)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                @Html.EditorFor(model => model.Ajuda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ajuda, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Senha)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                </div>
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.Cidade)
                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(model => model.UF)
                @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "custom-select d-block w-100 form-control" } })
            </div>
            <div class="col-md-3 mb-3">
                @Html.LabelFor(model => model.CEP)
                @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", @id = "txtCEP" } })
            </div>
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.NomeLogradouro)
                @Html.EditorFor(model => model.NomeLogradouro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.Logradouro)
                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.Numero)
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.Complemento)
                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-md-10 mb-3">
                @Html.LabelFor(model => model.Bairro)
                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.Telefone)
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-5 mb-3">
                @Html.LabelFor(model => model.Celular)
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
